# 在此檔案列出你需要的 Python 套件
# 每一行一個套件名稱
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
audioop-lts
azure-ai-documentintelligence
azure-core
azure-identity
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
cobble
comm
contourpy
crewai
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
distlib
distro
docstring-parser
et_xmlfile
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
googleapis-common-protos
h11
httpcore
httpx
idna
importlib_metadata
instructor
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lark
lxml
mammoth
markdown-it-py
markdownify
markitdown
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
msal
msal-extensions
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
olefile
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
packaging
pandas
pandocfilters
parso
pathvalidate
pdfminer
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
puremagic
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-pptx
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
standard-aifc
standard-chunk
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xgboost
xlrd
xlsxwriter
yarl
youtube-transcript-api
zipp
